# Unsorted files, backups and WIPs
_src
_source

node_modules
.idea

# The output directory should be empty.
# The plug-and-play version is located in `build/`.
output/*

# External binaries
tools/*

# Mac OS X-specific
Network Trash Folder
Temporary Items
.AppleDB
.AppleDesktop
.Spotlight-V100
.Trashes
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows-specific
Thumbs.db
ehthumbs.db

# Linux-specific
*~
.directory

# SASS cache files
*.sass-cache*
**/.sass-cache
**/.sass-cache/*

# Font Studio backup files
*.vfbak
